@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&family=Prompt&display=swap');

body {
	margin: 0;
}

.navbar {
	box-shadow: 0px 0px 15px 3px #A4A4A4;
}

.navbar img {
	height: 40px;
	margin-right: 40px;
	margin-left: 20px;
	vertical-align: bottom;
}

.navbar-nav a{
	font-family: 'Prompt', sans-serif;
}

.blankspace {
	margin-top: 120px;
	margin-bottom: 20px;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.introduce img {
	border-radius: 0.4rem;
}

.introduce h1 {
	font-size: 60px;
	font-family: 'Prompt', sans-serif;
	margin-top: 20px;
	margin-bottom: 0px;
}

.introduce h2 {
	font-size: 19px;
	font-family: 'IBM Plex Sans Thai', sans-serif;
}

.introduce a {
	font-size: 20px;
	margin-top: 15px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 100px;
}

.introduce i {
	margin-left: 5px;
}

.about_us {
	margin-top: 120px;
	margin-bottom: 20px;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about_us h1 {
	font-size: 40px;
	font-family: 'Prompt', sans-serif;
	text-align: center;
	margin-bottom: 0px;
}

.about_us p {
	font-size: 22px;
	font-family: 'IBM Plex Sans Thai', sans-serif;
	text-align: center;
}