@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&family=Prompt&display=swap');

body {
	margin: 0;
}

.navbar {
	box-shadow: 0px 0px 15px 3px #A4A4A4;
}

.navbar img {
	height: 40px;
	margin-right: 40px;
	margin-left: 20px;
	vertical-align: bottom;
}

.navbar-nav a{
	font-family: 'Prompt', sans-serif;
}

.blankspace {
	margin-top: 120px;
	margin-bottom: 20px;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.introduce {
	margin-left: 30px;
	flex-basis: 55%;
}

.introduce img {
	border-radius: 0.4rem;
	flex-basis: 45%;
}

.introduce h1 {
	font-size: 50px;
	font-family: 'Prompt', sans-serif;
	margin-top: 20px;
	margin-bottom: 0px;
}

.introduce h2 {
	font-size: 23px;
	font-family: 'IBM Plex Sans Thai', sans-serif;
}

@media (max-width: 800px) {
	.introduce {
		flex-basis: 100%;
	}
}